@media screen and (max-width: 425px) {

/*HEADER*/
header {
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .innerheader {
  width: 90%;
  height: 60%;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  border: 1px solid #222;
  box-shadow: 2px 2px 1px #222;
  align-items: center;
  justify-content: center;
}

header .mobile-menu-wrap {
    width: 100%;
    height: 600px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mobile-menu-wrap ul {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid #222;
}

.mobile-menu-wrap ul li {
    padding-bottom: 2rem;
}

.mobile-menu-wrap ul li a {
    text-decoration: none;
    font-size: 26px;
    color: #000;
}

.mobile-menu-wrap ul p {
    padding-bottom: 1rem;
    font-size: 26px;
}


.innerheader .logowrap {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.innerheader .logowrap h1 a {
  text-decoration: none;
  color: #222;
  font-size: 28px;
  padding-bottom: 0px;
}

.innerheader nav {
  display: none;
}

.innerheader .accountwrap {
  display: none;
}


.innerheader .menuwrap {
  width: 25%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerheader .menuwrap p {
  color: #222;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.innerheader .menuwrap p:hover {
  color: #5e17eb;
}



/*INDEX*/
.indexwrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*ADS VIEW*/
.indexwrap .ads-view-wrap {
  display: none;
}


/*SIDEBAR VIEW*/
.indexwrap .sidebar-view-wrap {
  display: none;
}


/*MAIN VIEW*/
.indexwrap .main-view-wrap {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.main-view-wrap .first-post-wrap {
  width: 98%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-view-wrap .first-post-wrap .first-post-card {
  width: 100%;
  height: 560px;
  transition: .4s ease-out;
}

 .first-post-card .card-img {
  width: 100%;
  height: 55%;
 }

 .first-post-card .card-img img {
  width: 100%;
  height: 94%;
  border-radius: 16px;
 }

 .first-post-card .card-content {
  width: 100%;
  height: 44%;
  text-transform: capitalize;
 }

 .first-post-card .card-content span {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 17px;
 }

  .first-post-card .card-content h2 {
  width: 95%;
  font-size: 30px;
  font-weight: 800;
 }

  .first-post-card .card-content p {
    font-size: 12px;
 }


/*FIRST FIVE POST*/
.main-view-wrap .first-post-wrap .firstFive-post-wrap{
  width: 98%;
  margin-bottom: 0;
}


.firstFive-post-wrap .postcard{
  width: 98%;
  height: 22%;
}

.firstFive-post-wrap .postcard:hover {
  opacity: .7;
}

.firstFive-post-wrap .postcard h2{
  font-size: 22px;
  width: 98%;
  font-weight: 800;
}

.firstFive-post-wrap .postcard p{
 text-transform: capitalize;
 font-weight: 100;
  font-size: 15px;
}



/*Second post*/
.second-post-wrap {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.second-post-wrap h3 {
  margin-top: 0px;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-weight: 200;
  font-size: 24px;
  width: 94%;
  text-align: left;
}

.second-post-wrap .post-card {
  width: 100%;
  height: 200px;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.second-post-wrap .post-card .card-img {
  width: 37%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-post-wrap .post-card .card-img img {
  width: 90%;
  height: 70%;
}

.second-post-wrap .post-card .card-content {
  width: 62%;
  height: 100%;
}

.second-post-wrap .post-card .card-content span {
  font-weight: 100;
  font-size: 15px;
}

.second-post-wrap .post-card .card-content h2 {
  font-size: 22px;
  width: 95%;
}

.second-post-wrap .post-card .card-content p {
  display: none;
}


/*Bridge wrap*/
.bridge-wrap {
  width: 100%;
  height: 200px;
}

.bridge-wrap .bridge {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




/*MAIN VIEW FOR PAGE*/
.main-view-wrap .page-title-wrap {
  width: 97%;
  height: 165px;
  padding-left: 0px;
}

.main-view-wrap .page-title-wrap h1 {
  font-size: 26px;
}

.main-view-wrap .page-title-wrap p {
  font-size: 16px;
  padding-top: 4px;
}

.main-view-wrap .page-title-wrap span {
  font-size: 13px;
  padding-top: 4px;
}




/*MAIN VIEW FOR POST*/
.post-view-wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 14px;
}

.main-view-wrap .related-h3 {
  font-size: 23px;
}

.post-view-wrap .post-view-head {
  width: 98%;
  height: 120px;
  padding-bottom: 8px;
}

.post-view-wrap .post-view-head h1 {
  font-size: 25px;
  width: 97%;
}

.post-view-wrap .post-view-head p{
  font-size: 13px;
  padding-left: 4px;
}


.post-view-wrap .post-view-image {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.post-view-wrap .post-view-image img {
  width: 98%;
  height: 80%;
}


.post-view-wrap .post-view-content {
  width: 98%;
  height: 60%;
  margin-bottom: 1rem;
}

.post-view-wrap .post-view-content h1, h2, h3, h4, h5, h6 {
  padding-bottom: 16px;
}

.post-view-wrap .post-view-content h1 {
  font-size: 26px;
}

.post-view-wrap .post-view-content h2 {
  font-size: 24px;
}

.post-view-wrap .post-view-content h3 {
  font-size: 22px;
}

.post-view-wrap .post-view-content h4 {
  font-size: 20px;
}

.post-view-wrap .post-view-content h5 {
  font-size: 18px;
}

.post-view-wrap .post-view-content p {
  font-size: 16px;
  width: auto;
  line-height: 24px;
}




/*RELATED POSTS*/
.related-post-wrap {
  width: 97%;
  height: 500px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 48% 48%;
  margin: 0 auto;
}

.related-post-wrap .related-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.related-post-wrap .related-card .card-img {
  width: 100%;
  height: 50%;
}

.related-card .card-img img {
  width: 90%;
  height: 94%;
}

.related-post-wrap .related-card .card-content {
  width: 97%;
  height: 50%;
  text-transform: capitalize;
}

.related-post-wrap .related-card .card-content h3 {
  font-size: 15px;
  font-weight: 800;
  width: 100%;
}


/*footer*/
footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

footer div a {
  padding-bottom: 8px;
  text-decoration: none;
  color: #222;
  font-weight: 200;
  font-size: 18px;
}

footer div h3 {
    padding-top: 1rem;
}
}


@media screen and (max-width: 375px) {

/*HEADER*/
header {}

header .innerheader {
  width: 91%;
  height: 59%;
}

header .mobile-menu-wrap {
  top: 98px;
}


.mobile-menu-wrap ul {
    width: 90%;
    height: 74%;
}

.mobile-menu-wrap ul li {}

.mobile-menu-wrap ul li a {
    font-size: 25px;
}

.mobile-menu-wrap ul p {
    font-size: 25px;
}


.innerheader .logowrap {
  width: 68%;
  height: 100%;
}

.innerheader .logowrap h1 a {
  font-size: 26px;
}

.innerheader .menuwrap {
  width: 24%;
  height: 100%;
}

.innerheader .menuwrap p {
  font-size: 24px;
}



/*INDEX*/
.indexwrap {
  width: 100%;
  height: 100%;
}


/*ADS VIEW*/
.indexwrap .ads-view-wrap {
  display: none;
}


/*SIDEBAR VIEW*/
.indexwrap .sidebar-view-wrap {
  display: none;
}


/*MAIN VIEW*/
.indexwrap .main-view-wrap {
  width: 96%;
}



.main-view-wrap .first-post-wrap {
  width: 97%;
}

.main-view-wrap .first-post-wrap .first-post-card {
  height: 555px;
}

 .first-post-card .card-img {
  width: 100%;
  height: 55%;
 }

 .first-post-card .card-img img {
  width: 100%;
  height: 94%;
 }

 .first-post-card .card-content {
  height: 45%;
 }

 .first-post-card .card-content span {
  font-size: 17px;
 }

  .first-post-card .card-content h2 {
  width: 96%;
  font-size: 30px;
 }

  .first-post-card .card-content p {
    font-size: 12px;
 }


/*FIRST FIVE POST*/
.main-view-wrap .first-post-wrap .firstFive-post-wrap{
  width: 98%;
}


.firstFive-post-wrap .postcard{
  width: 97%;
  height: 22%;
}

.firstFive-post-wrap .postcard:hover {
  opacity: .7;
}

.firstFive-post-wrap .postcard h2{
  font-size: 22px;
  width: 98%;
}

.firstFive-post-wrap .postcard p{
  font-size: 15px;
}



/*Second post*/
.second-post-wrap {
  width: 100%;
}

.second-post-wrap h3 {
  margin-top: 0px;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-weight: 200;
  font-size: 24px;
  width: 92%;
}

.second-post-wrap .post-card {
  width: 100%;
  height: 200px;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.second-post-wrap .post-card .card-img {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-post-wrap .post-card .card-img img {
  width: 94%;
  height: 60%;
}

.second-post-wrap .post-card .card-content {
  width: 64%;
  height: 100%;
}

.second-post-wrap .post-card .card-content span {
  font-weight: 100;
  font-size: 15px;
}

.second-post-wrap .post-card .card-content h2 {
  font-size: 20px;
  width: 97%;
}

.second-post-wrap .post-card .card-content p {
  display: none;
}


/*Bridge wrap*/
.bridge-wrap {
  width: 100%;
  height: 200px;
}

.bridge-wrap .bridge {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




/*MAIN VIEW FOR PAGE*/
.main-view-wrap .page-title-wrap {
  width: 95%;
  height: 160px;
  padding-left: 0px;
}

.main-view-wrap .page-title-wrap h1 {
  font-size: 26px;
}

.main-view-wrap .page-title-wrap p {
  font-size: 16px;
  padding-top: 4px;
}

.main-view-wrap .page-title-wrap span {
  font-size: 13px;
  padding-top: 4px;
}




/*MAIN VIEW FOR POST*/
.post-view-wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 14px;
}

.main-view-wrap .related-h3 {
  font-size: 22px;
}

.post-view-wrap .post-view-head {
  width: 98%;
  height: 100px;
  padding-bottom: 8px;
}

.post-view-wrap .post-view-head h1 {
  font-size: 24px;
  width: 97%;
}

.post-view-wrap .post-view-head p{
  font-size: 13px;
  padding-left: 4px;
}


.post-view-wrap .post-view-image {
    width: 100%;
    height: 25%;
    margin-bottom: 1rem;
}

.post-view-wrap .post-view-image img {
  width: 97%;
  height: 78%;
}


.post-view-wrap .post-view-content {
  width: 98%;
  height: 60%;
  margin-bottom: 1rem;
}

.post-view-wrap .post-view-content h1, h2, h3, h4, h5, h6 {}

.post-view-wrap .post-view-content h1 {
  font-size: 26px;
}

.post-view-wrap .post-view-content h2 {
  font-size: 24px;
}

.post-view-wrap .post-view-content h3 {
  font-size: 22px;
}

.post-view-wrap .post-view-content h4 {
  font-size: 20px;
}

.post-view-wrap .post-view-content h5 {
  font-size: 18px;
}

.post-view-wrap .post-view-content p {
  font-size: 16px;
  width: auto;
  line-height: 24px;
}




/*RELATED POSTS*/
.related-post-wrap {
  width: 96%;
  height: 500px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 48% 48%;
  margin: 0 auto;
}

.related-post-wrap .related-card {}

.related-post-wrap .related-card .card-img {
  width: 100%;
  height: 50%;
}

.related-card .card-img img {
  width: 90%;
  height: 92%;
}

.related-post-wrap .related-card .card-content {
  width: 97%;
  height: 50%;
}

.related-post-wrap .related-card .card-content h3 {
  font-size: 15px;
  font-weight: 800;
  width: 100%;
}


/*footer*/
footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 92%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

footer div a {
  padding-bottom: 8px;
  text-decoration: none;
  color: #222;
  font-weight: 200;
  font-size: 18px;
}

footer div h3 {
    padding-top: 1rem;
}

}



@media screen and (max-width: 320px) {

/*HEADER*/
header {}

header .innerheader {
  width: 96%;
  height: 58%;
}


header .mobile-menu-wrap {
  top: 98px;
}


.mobile-menu-wrap ul {
    width: 90%;
    height: 74%;
}

.mobile-menu-wrap ul li {}

.mobile-menu-wrap ul li a {
    font-size: 24px;
}

.mobile-menu-wrap ul p {
    font-size: 24px;
}


.innerheader .logowrap {
  width: 68%;
  height: 100%;
}

.innerheader .logowrap h1 a {
  font-size: 25px;
}

.innerheader .menuwrap {
  width: 24%;
  height: 100%;
}

.innerheader .menuwrap p {
  font-size: 24px;
}



/*INDEX*/
.indexwrap {
  width: 100%;
  height: 100%;
}


/*ADS VIEW*/
.indexwrap .ads-view-wrap {
  display: none;
}


/*SIDEBAR VIEW*/
.indexwrap .sidebar-view-wrap {
  display: none;
}


/*MAIN VIEW*/
.indexwrap .main-view-wrap {
  width: 96%;
}



.main-view-wrap .first-post-wrap {
  width: 97%;
}

.main-view-wrap .first-post-wrap .first-post-card {
  height: 550px;
}

 .first-post-card .card-img {
  width: 100%;
  height: 55%;
 }

 .first-post-card .card-img img {
  width: 100%;
  height: 92%;
 }

 .first-post-card .card-content {
  height: 45%;
 }

 .first-post-card .card-content span {
  font-size: 16px;
 }

  .first-post-card .card-content h2 {
  width: 97%;
  font-size: 27px;
 }

  .first-post-card .card-content p {
    font-size: 12px;
 }


/*FIRST FIVE POST*/
.main-view-wrap .first-post-wrap .firstFive-post-wrap{
  width: 98%;
}


.firstFive-post-wrap .postcard{
  width: 97%;
  height: 21%;
}

.firstFive-post-wrap .postcard:hover {
  opacity: .7;
}

.firstFive-post-wrap .postcard h2{
  font-size: 20px;
  width: 98%;
}

.firstFive-post-wrap .postcard p{
  font-size: 14px;
}



/*Second post*/
.second-post-wrap {
  width: 100%;
}

.second-post-wrap h3 {
  margin-top: 0px;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-weight: 200;
  font-size: 22px;
  width: 90%;
}

.second-post-wrap .post-card {
  width: 100%;
  height: 200px;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.second-post-wrap .post-card .card-img {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-post-wrap .post-card .card-img img {
  width: 89%;
  height: 48%;
}

.second-post-wrap .post-card .card-content {
  width: 65%;
  height: 100%;
}

.second-post-wrap .post-card .card-content span {
  font-weight: 100;
  font-size: 14px;
}

.second-post-wrap .post-card .card-content h2 {
  font-size: 19px;
  width: 98%;
}

.second-post-wrap .post-card .card-content p {
  display: none;
}


/*Bridge wrap*/
.bridge-wrap {
  width: 100%;
  height: 180px;
}

.bridge-wrap .bridge {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




/*MAIN VIEW FOR PAGE*/
.main-view-wrap .page-title-wrap {
  width: 95%;
  height: 150px;
  padding-left: 0px;
}

.main-view-wrap .page-title-wrap h1 {
  font-size: 24px;
}

.main-view-wrap .page-title-wrap p {
  font-size: 16px;
  padding-top: 4px;
}

.main-view-wrap .page-title-wrap span {
  font-size: 13px;
  padding-top: 4px;
}




/*MAIN VIEW FOR POST*/
.post-view-wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 14px;
}

.main-view-wrap .related-h3 {
  font-size: 22px;
}

.post-view-wrap .post-view-head {
  width: 98%;
  height: 110px;
  padding-bottom: 8px;
}

.post-view-wrap .post-view-head h1 {
  font-size: 22px;
  width: 98%;
}

.post-view-wrap .post-view-head p{
  font-size: 13px;
  padding-left: 4px;
}


.post-view-wrap .post-view-image {
    width: 100%;
    height: 26%;
    margin-bottom: 1rem;
}

.post-view-wrap .post-view-image img {
  width: 97%;
  height: 76%;
}


.post-view-wrap .post-view-content {
  width: 98%;
  height: 60%;
  margin-bottom: 1rem;
}

.post-view-wrap .post-view-content h1, h2, h3, h4, h5, h6 {}

.post-view-wrap .post-view-content h1 {
  font-size: 26px;
}

.post-view-wrap .post-view-content h2 {
  font-size: 24px;
}

.post-view-wrap .post-view-content h3 {
  font-size: 22px;
}

.post-view-wrap .post-view-content h4 {
  font-size: 20px;
}

.post-view-wrap .post-view-content h5 {
  font-size: 18px;
}

.post-view-wrap .post-view-content p {
  font-size: 16px;
  width: auto;
  line-height: 24px;
}




/*RELATED POSTS*/
.related-post-wrap {
  width: 98%;
  grid-template-columns: 49% 49%;
  grid-template-rows: 47% 47%;
}

.related-post-wrap .related-card {}

.related-post-wrap .related-card .card-img {
  width: 100%;
  height: 50%;
}

.related-card .card-img img {
  width: 90%;
  height: 90%;
}

.related-post-wrap .related-card .card-content {
  width: 98%;
  height: 50%;
}

.related-post-wrap .related-card .card-content h3 {
  font-size: 14px;
}


/*footer*/
footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 92%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

footer div a {
  padding-bottom: 8px;
  text-decoration: none;
  color: #222;
  font-weight: 200;
  font-size: 18px;
}

footer div h3 {
    padding-top: 1rem;
}

}